.welcome-section{
	padding:45px 0;
	background:#1F788E;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-size: 18px 18px;
	overflow: hidden;
}
.row{
	margin-left:0;
	margin-right:0
}
.welcome-section h3{
	color:#eee;
	margin-bottom: 5px;
	
}
.welcome-section p{
	font-size:1.6em;
	margin: 0;
	color:#fff
}
.about-section{
	padding:45px 0;
	background:#fff
}